:root {
    /* Backgrounds */
    --var-color-background: #ffffff;
    --var-color-header: #25282f;
    --button-default-bgColor-rest: #f6f8fa;
    --button-default-bgColor-hover: #eff2f5;
    --button-default-borderColor-active: #d1d9e0;
    --button-default-borderColor-hover: #d1d9e0;
    --border-profile-image: #efecec;
    --borderColor-default: #d1d9e0;

    /* Text and Icons */
    --var-color-text: #1f2328;
    --var-color-text-header: #ffffff;
    --var-color-text-sec: #4e5158;
    --var-color-icon-sec: #ededed;
    --var-color-accent-blue: #0969da;
    --text-neutral: #59636e;
    --text-link: #0969da;

    /* Heatmap */
    --var-color-heatmap-default: #ededed;
    --var-color-heatmap-1: #afecb4;
    --var-color-heatmap-2: #46c074;
    --var-color-heatmap-3: #2da74a;
    --var-color-heatmap-4: #115a2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--var-color-background);
    color: var(--var-color-text);
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
}

svg{
    width: 1rem;
    aspect-ratio: 1/1;
    vertical-align: middle;
}

svg.dark{
    color: var(--var-color-text);
}

svg.grey{
    color: var(--var-color-text-sec);
}

/* --------------- General Styles --------------- */
.button__tertiary{
    background: transparent;
    border: none;
    font-size: .9rem;
    font-family: inherit;
    cursor: pointer;
}

/* --------------- Header Styles ---------------- */
.header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--var-color-header);
    color: var(--var-color-text-header);
}

.header__left {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;

    .header__logo {
        width: 40px;
        filter: invert();
        cursor: pointer;
        vertical-align: middle;
    }

    .header__search {
        width: 15vw;
        padding: 0.4rem 0.6rem;
        background: transparent;
        border: 2px solid var(--var-color-text-sec);
        border-radius: 0.5rem;
        color: inherit;
        font-size: 1rem;
        outline: none;

        &::-webkit-input-placeholder {
            color: #dfdfdf;
            font-weight: 500;
        }
    }

    .header__nav > a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

.header__right {
    display: flex;
    align-items: center;
    gap: .6rem;
    line-height: 0;

    a{
        cursor: pointer;
        border-radius: 4px;

        &:not(:last-child){
            padding: .4rem;
        }
    }

    .invert {
        filter: invert();
    }

    .header__icon-dropdown {
        display: flex;
        align-items: center;
    }

    .header__icon-profile {
        width: 30px;
        border-radius: 50%;
    }
}

/* --------------------- Main body styles --------------------- */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__header{
    width: 100%;
    border-bottom: 1px solid var(--borderColor-default);
}

.main__header-wrapper {
    display: grid;
    grid-template-columns: 312px 1fr;

    width: 65vw;
    min-width: 65vw;
    padding-top: 1.4rem;
    margin: 0 auto;

    .main__header-blankPart{
        flex: 4;
        padding: 0 1rem;
    }

    .main__header-nav{
        ul{
            list-style-type: none;
            display: flex;
            padding-left: 1rem;

            .main__header-links {
                padding: .9rem 1rem;
                
                a, a:link, a:visited {
                    text-decoration: none;
                    font-size: .9rem;
                    color: inherit;
                    font-weight: 400;

                    svg {
                        margin-right: 3px;
                    }

                }
                &:first-child{
                    border-bottom: 2px solid orange;

                    a {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.main__content {
    width: 65vw;
    min-width: 65vw;
    display: grid;
    grid-template-columns: 312px 1fr;
}

.profile {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -3.2rem;
    padding: 1rem;
    width: 100%;

    svg{
        width: 16px;
        aspect-ratio: 1/1;
    }
}

.profile__img{
    position: relative;
    min-width: 5rem;
    aspect-ratio: 1/1;
}

.profile__img-user {
    border-radius: 50%;
    max-width: 100%;
    border: 2px solid var(--border-profile-image);
}

.profile__status{
    position: absolute;
    right: .5rem;
    top: 72%;
    background: var(--var-color-background);
    display: inline;
    padding: .55rem .6rem;
    border: 1px solid var(--borderColor-default);
    border-radius: 50%;
}

.profile__user-name{
    font-size: 1.5rem;
}

.profile__user-id {
    font-weight: 300;
    font-size: 1.25rem;
    color: var(--var-color-text-sec);
}

.profile__edit {
    padding: 8px;
    background-color: var(--button-default-bgColor-rest);
    border: 1px solid var(--button-default-borderColor-active);
    color: #25292e;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: inherit;

    &:hover {
        cursor: pointer;
        background-color: var(--button-default-bgColor-hover);
        border: 1px solid var(--button-default-borderColor-hover);
    }
}

.stats__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: var(--var-color-text-sec);

    .stats__list-item {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        a, a:link, a:visited{
            text-decoration: none;
            color: inherit;
            
            b {
                color: #222327;
            }
        }
    }

    .stats__list-item + .stats__list-item::before {
        content: "·";
        margin: 0 -2px 0px 4px;
        color: #6b7280; 
        font-weight: 900;
    }
}

.profile__links{
    list-style-type: none;

    .link__wrapper{
        display: flex;
        align-items: center;
        gap: .6rem;
        margin-bottom: 5px;
        font-size: .95rem;

        a, a:link, a:visited{
            text-decoration: none;
            color: inherit;
        }

        a:hover{
            text-decoration: underline;
        }
    }
}

.userInfo {
    padding: 1.5rem 1rem 1rem 1rem;
}

.pinned{

    .pinned__head {
        display: flex;
        justify-content: space-between;

        h3{
            font-size: 1rem;
            font-weight: 500;
        }

        button{
            color: var(--text-neutral);
        }
    }

    .pinned__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: .5rem 0;

        .pinned__repo{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border: 1px solid var(--borderColor-default);
            border-radius: 6px;

            .pinned__repo-head {
                display: flex;
                justify-content: space-between;
                padding-bottom: .5rem;

                .pinned__repo-link{
                    text-decoration: none;
                    font-size: .9rem;
                    font-weight: 700;
                    color: var(--text-link);
                }   
            }

            .pinned__repo-description{
                font-size: .8rem;
                color: var(--text-neutral);
                line-height: 1.4;
                flex-grow: 1;
            }
            
            .pinned__repo-info{
                padding-top: .8rem;
                color: var(--text-neutral);
                font-weight: 500;

                .language{
                    font-size: .8rem;
                    display: inline-block;

                    .language-marker-html{
                        display: inline-block;
                        width: .8rem;
                        aspect-ratio: 1/1;
                        margin-bottom: -1px;
                        border-radius: 50%;
                        background-color: orangered;
                    }
                    
                    .language-marker-css{
                        display: inline-block;
                        width: .8rem;
                        aspect-ratio: 1/1;
                        margin-bottom: -1px;
                        border-radius: 50%;
                        background-color: midnightblue;
                    }
                }

                .stars, .forks{
                    font-size: .8rem;
                    margin-left: 1rem;
                }
            }
        }
    }
}